.con{
    overflow: hidden;
    background: url("../images/index/header-bj2_02.png") center top no-repeat;
    background-size: 100% 266px;
}
section{
    width: 1200px;
    height: auto;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    margin: 12px auto 0;
    padding: 15px 18px 0 10px;
    box-sizing: border-box;
    position: relative;
}
.shadow{
    width: 800px;
    height: 60px;
    /*background: linear-gradient(to right,#ffffff,#c0c0c0,#ffffff);*/
    background-image: url("../images/news_detail/shadow.png");
    background-size: cover;
    opacity: .4;
    position: absolute;
    top: 132px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 0;
}
.article{
    width: 100%;
    height: auto;
}
.position{
    width: 100%;
    height: auto;
    padding-bottom: 8px;
    padding-left: 4px;
    box-sizing: border-box;
    border-bottom: 2px #92251E solid;
    overflow: hidden;
    font-family: 微软雅黑;
}
.position>span{
    float: left;
    font-size: 14px;
    color: #111111;
    margin: 0 5px;
}
.position>a{
    float: left;
    font-size: 14px;
    color: #111111;
}
.position>a:last-of-type{
    color: #92251e;
    font-weight: bold;
}
.title{
    width: 100%;
    height: auto;
    padding: 50px 35px 30px;
    box-sizing: border-box;
}
.title>h2{
    margin: 0 auto 70px;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    text-align: center;
    font-family: 微软雅黑;
}
pre{
    font-size: 12px;
    float: right;
    margin-right: 15px;
    font-family: 微软雅黑;
}
pre>span{
    font-size: 12px;
}
.content{
    width: calc(100% - 80px);
    height: auto;
    margin: 0 40px;
    border-top: 1px #92251e solid;
    border-bottom: 1px #92251e solid;
    font-family: 微软雅黑;
    padding: 26px 0 0;
    box-sizing: border-box;
}
.article_title{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    color: #111111;
    font-size: 14px;
    line-height: 25px;
}
.article_con{
    width: 100%;
    height: auto;
    padding-left: 15px;
    box-sizing: border-box;
}
.article_con>p{
    color: #111111;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 35px;
}
.relevant{
    width: calc(100% - 80px);
    height: auto;
    margin: 0 40px;
    box-sizing: border-box;
    padding-top: 5px;
}
.relevant_title{
    width: 106px;
    height: 32px;
    background-color: #d80001;
    color: #fff;
    font-size: 14px;
    font-family: 微软雅黑;
    text-align: center;
    line-height: 32px;
}
.triangle{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #d80001 transparent transparent transparent;
    margin-left: 76px;
}
.relevant_title_box{
    width: 100%;
    height: auto;
    padding: 0 26px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.relevant_title_son{
    width: 400px;
    height: auto;
    margin-bottom: 14px;
}
.relevant_title_son>i{
    float: left;
    color: #d80001;
}
.relevant_title_son>a{
    float: left;
    color: #000;
    font-size: 12px;
    font-family: 微软雅黑;
    margin-left: 4px;
}
.relevant_title_son>span{
    float: right;
    color: #ff7373;
    font-size: 12px;
    font-family: 微软雅黑;
}